<div class="content">
    <h2>About</h2>
    <h2>About</h2>
    <div class="text1">
        <img class="img1" src="../static/fundo.png" alt="img1"> <br>
        <h3>Hi and welcome! <br>I am Junior System Developer able to build projects in Frontend, Backend or FullStack. <br>I am experient in a lot areas since sales, law, administrator and I thought I can contribuite of some many ways to your company and still can able to make the code of excellence using current best pratices in Web Development. <br>Agile, hard word and team player who is available to better to the better.</h3>
    <a
    href="../static/Thays Moia Ribeiro - Presentation Letter and Resume.pdf"
    id="btn"> Download CV
    </a>
    </div>
</div>
