<div>
<div class="content1">
    <p>Call me +1 714 719-8170</p>
    <p>thaysmoiaribeiro@gmail.com</p>
    <a href="#contact" id="btn2"> Let's chat</a>
</div>
<div class="content">
    <h2>About</h2>
    <h2>About</h2>
    <div class="about">
        <div class="main1">
            <img src="../static/test.png">
            <div class="all-text">
            <p>Hi and welcome! <br>I am Junior System Developer able to build projects in Frontend, Backend or FullStack. <br>I am experient in a lot areas since sales, law, administrator and I thought I can contribuite of some many ways to your company and still can able to make the code of excellence using current best pratices in Web Development. <br>Agile, hard word and team player who is available to better to the better.</p>                
            </div>
            <div class="btn1">
            <a href="../static/Thays Moia Ribeiro - Presentation Letter and Resume.pdf" id="btn"> Download CV</a>
            </div>
        </div>
    </div>
</div>
</div>
