<section class="experience2">
    <div class="container2">
        <div class="contactInfo">
            <h2>Contact Info</h2>
            <ul class="info">
                <li>
                    <span><img src="../static/location.png"></span>
                    <span>23 Ash Tree Ln, Irvine - Califonia - USA</span>
                </li>
                <li>
                    <span><img src="../static/mail.png"></span>
                    <span>thaysmoiaribeiro@gmail.com</span>
                </li>
                <li>
                    <span><img src="../static/call.png"></span>
                    <span>+(714) 719 - 8170</span>
                </li>
            </ul>
        </div>
        <div class="contactFrom">
            <h2>Send a Message</h2>
            <div class="formBox">
                <div class="inputBox w50">
                    <input type="text" required>
                    <span>First Name</span>
                </div>
                <div class="inputBox w50">
                    <input type="text" required>
                    <span>Last Name</span>
                </div>
                <div class="inputBox w50">
                    <input type="text" required>
                    <span>Email Address</span>
                </div>
                <div class="inputBox w50">
                    <input type="text" required>
                    <span>Mobile Number</span>
                </div>
                <div class="inputBox w50">
                    <textarea type="text" required></textarea>
                    <span>Write your Message here..</span>
                </div>
                <div class="inputBox w50">
                    <input type="submit" value="Send">
                </div>
            </div>
        </div>
    </div>
</section>