<section class="experience2">
    <div class="container2">
        <div class="contactInfo">
            <h2>Contact Info</h2>
            <ul class="info">
                <li>
                    <span><img src="../static/location.png"></span>
                    <span>23 Ash Tree Ln, Irvine - Califonia - USA</span>
                </li>
                <li>
                    <span><img src="../static/mail.png"></span>
                    <span>thaysmoiaribeiro@gmail.com</span>
                </li>
                <li>
                    <span><img src="../static/call.png"></span>
                    <span>+(714) 719 - 8170</span>
                </li>
            </ul>
        </div>
        <div class="contactFrom">
            <h2>Send a Message</h2>
            <form class="formBox" action="https://formsubmit.co/1c7256c083ab9b1e87c3506540b6f436" method="POST">
                <div class="inputBox w50">
                    <input type="text" name="name" required>
                    <span>First Name</span>
                </div>
                <div class="inputBox w50">
                    <input type="text" name="Last Name" required>
                    <span>Last Name</span>
                </div>
                <div class="inputBox w50">
                    <input type="text" name="email" required>
                    <span>Email Address</span>
                </div>
                <div class="inputBox w50">
                    <input type="text" name="phone" required>
                    <span>Mobile Number</span>
                </div>
                <div class="inputBox w50">
                    <textarea type="text" name="Message From Visit" required></textarea>
                    <span>Write your Message here..</span>
                </div>
                <div class="inputBox w50">
                    <input class="botoon" type="submit" value="Send">
                </div>
            </form>
        </div>
    </div>
</section>