<div class="education">
    <div class="titleeduca">
        <h2>Education</h2>
    </div>
    <div class="boxedu">
        <div class="cardedu">
            <i class="fa fa-desktop" style="color:white;" aria-hidden="true"></i>
            <h2 class="cursos">SYSTEM'S DEVELOPER</h2>
            <h5 class="certificacao">Associate degree</h5>
            <div class="pra">
                <p>A professional who analyzes and designs systems(Information's Technology).</p>
                <p>Other courses related in this course:<br>&#9898;CS50’s Introduction to Computer Science x 2022 - <b>Harvard</b>;<br>&#9898;Raspberry PI and Applications | Basic Programming with Java I, II and III| Web Systems Project| CSS: Style Sheets| Database: Fundamentals| HTML: Introduction to Web Page Developmen; tables and forms| JavaScript| Programming Logic I, II, III - <b>IFRS</b></p>
                <p style="text-align: center;">
                    <a class="button1">2020-2021</a>
                </p>
            </div>
        </div>
        <div class="cardedu">
            <i class="fa fa-balance-scale" style="color:white;" aria-hidden="true"></i>
            <h2 class="cursos">LAW</h2>
            <h5 class="certificacao">Degree</h5>
            <div class="pra">
                <p>Professionals to take care of the application of the laws and legal norms in force in a country or region.</p>
                <p>Other courses related in this course:<br>&#9898;University Extension Course in Diffusion's Modality: Current Labor Law Issues - <b>USP</b>;<br>&#9898;Contract Law: From Trust to Promise to Contract Online EDX - <b>Harvard University.</b><br>&#9898;International Law MicroMasters Online - <b>LouvainX - Louv5x - EDX</b></p>
                <p style="text-align: center;">
                    <a class="button1">2014-2018</a>
                </p>
            </div>
        </div>
        <div class="cardedu">
            <i class="fa fa-cog" style="color:white;" aria-hidden="true"></i>
            <h2 class="cursos">ADMINISTRATIVE</h2>
            <h5 class="certificacao">Associate degree</h5>
            <div class="pra">
                <p>Administrative support, organizes files, prepares documents and spreadsheets and establishes contact with customers and suppliers.</p>
                <p>Other courses related in this course:<br>&#9898;Triumph - Preparing for the first job - <b>Pro-Morato</b>;<br>&#9898; Apprentice - Course of Apprentice Development of Administrative area - <b>Pro-Morato</b></p>
                <p style="text-align: center;">
                    <a class="button1">2013-2014</a>
                </p>
            </div>
        </div>
    </div>
</div>
    