<div class="content3">
    <h2>Experience</h2>
    <h2>Experience</h2>
</div>



    <!-- </div>
<div class="swiper mySwiper flip-card">
    <div class="swiper-wrapper flip-card-inner">
        <div class="swiper-slide flip-card-front">
            <img class="code" src="../static/code.png" alt="Programming"/>
        </div>
        <div class="flip-card-back">
            <div class="back-header">
                <h2 class="card-title">Systems Developer</h2>
                <h3 class="card-title">Junior</h3>
                <p class="card-experpt">Open to work and start career</p>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
        <div class="swiper-slide flip-card-front">
            <img class="code" src="../static/aupair.png" alt="Aupair"/>
        </div>
        <div class="flip-card-back">
            <div class="back-header">
                <h2 class="card-title">Aupair</h2>
                <h3 class="card-title">Caregiver of children F1 Visa <br> Mar 2022 - Present - (7 months)</h3>
                <p class="card-experpt">Interchange living with a host family for 1 years and can be extended for until 12 months</p>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</div> -->

<!-- <div class="xop-banner"></div>
    <div class="site-container">
        <div class="article-container">

            <article class="article-card">
            <figure class="article-image">
            <img src="../static/code.png" alt="Programming"/>
            </figure>
            <div class="article-content">
                <a href="#" class="card-category">Systems Developer</a>
                <h3 class="card-title">Junior</h3>
                <p class="card-experpt">Open to work and start career</p>
            </div>
            </article>

            <article class="article-card">
            <figure class="article-image">
            <img src="../static/aupair.png" alt="Aupair"/>
            </figure>
            <div class="article-content">
                <a href="#" class="card-category">Aupair<br>2022 - present</a>
                <h3 class="card-title">Caregiver of children F1 Visa <br> Mar 2022 - Present - (7 months)</h3>
                <p class="card-experpt">Interchange living with a host family for 1 years and can be extended for until 12 months</p>
            </div>
            </article>

            <article class="article-card">
            <figure class="article-image">
            <img src="../static/bank.jpg" alt="Banker"/>
            </figure>
            <div class="article-content">
                <a href="#" class="card-category">Technology and Operations Analyst - Qualification, Contracts and Warranties<br>2021 - 2022</a>
                <h3 class="card-title">Banker <br> May 2021 - Mar 2022 (11 months)</h3>
                <p class="card-experpt">Acting in the Manufactiong sector: <br>-Validation of data at the segment of Analysis and Qualification of Warranties <br>-Analyze and Record of Collateral Contracts of segment of Record </p>
            </div>
            </article>

            <article class="article-card">
            <figure class="article-image">
            <img src="../static/cleaner.png" alt="Cleaner"/>
            </figure>
            <div class="article-content">
                <a href="#" class="card-category">Cleaner<br>2020 - 2021</a>
                <h3 class="card-title">Outsourced cleaner service provider to Santander Brazil Bank <br>Jul 2020 - Apr 2021 (10 months) </h3>
                <p class="card-experpt">Inside cleaner in the bank</p>
            </div>
            </article>

            <article class="article-card">
            <figure class="article-image">
            <img src="../static/law.jpg" alt="Law"/>
            </figure>
            <div class="article-content">
                <a href="#" class="card-category">Legal Intern<br>2017 - 2018</a>
                <h3 class="card-title">Labor Litigatigation Intern - Tax Legal <br>Aug 2017 - Aug 2018 (1yr 1 mo)</h3>
                <p class="card-experpt">Suport of Lawyers researching, correspondence, documents, proxy, less complex petitions, organization of client foldes, process</p>
            </div>
            </article>

            <article class="article-card">
            <figure class="article-image">
            <img src="../static/adm.png" alt="Vendas"/>
            </figure>
            <div class="article-content">
                <a href="#" class="card-category">Administrative<br>2012 - 2017</a>
                <h3 class="card-title">-Technical of Operations by PWC <br> Dec 2014 - Aug 2017 (2yrs 8 mo)</h3>
                    <p class="card-experpt">-Labor and special projects</p>
                <h3 class="card-title">-Young Focal Point by UWB <br>Mar 2013 - Jul 2015(2yrs 4 mo)</h3>
                    <p class="card-experpt">-Logistics</p>
                <h3 class="card-title">-Adminsitrative Apprentice by Ibratin <br> Feb 2012 - Feb 2013 (1yr)</h3>
                    <p class="card-experpt">-Market intelligence</p>
            </div>
            </article>

            <article class="article-card">
            <figure class="article-image">
            <img src="../static/vendas.png" alt="Vendas"/>
            </figure>
            <div class="article-content">
                <a href="#" class="card-category">Sales | Seamstress hospital grown
                </a>
                <h3 class="card-title">In-store<br>Out 2011 - Dec 2012(2 mo - temporary)</h3>
                <p class="card-experpt">Shoes store</p>
                <h3 class="card-title">In-store<br>June 2019 - Jul 2019 (2 mo)</h3>
                <p class="card-experpt">School of computing and english</p>
                <h3 class="card-title">Hawker<br>Set 2019 - Dec 2019(3 mo) </h3>
                <p class="card-experpt">Ice Cream | Brigadeiro</p>
                <h3 class="card-title">Online Sale <br> Aug 2019 (volunteer) <br></h3>
                <p class="card-experpt">Trips</p>
                <h3 class="card-title">Seamstress hospital grown <br> Jun 2019 <br></h3>
                <p class="card-experpt">Grown</p>
            </div>
            </article>
        </div>
    </div> -->