<div class="content3">
    <h2>Experience</h2>
    <h2>Experience</h2>
</div>

<div class="move-container swiper">
    <div class="move-content">
        <div class="box-wrapper swiper-wrapper">
            <div class="box swiper-slide">
                <div class="pic-content">
                    <span class="overlay"></span>
                    <div class="box-image">
                        <img src="../static/question.png" alt="question" class="box-img">
                    </div>
                </div>

                <div class="text-content">
                    <h2 class="name">Junior Systems Developer</h2>
                    <p class="description">Looking for job</p>

                    <button class="button">Open to work</button>

                </div>
            </div>
            <div class="box swiper-slide">
                <div class="pic-content">
                    <span class="overlay1"></span>
                    <div class="box-image">
                        <img src="../static/cc.png" alt="aupair" class="box-img">
                    </div>
                </div>

                <div class="text-content">
                    <h2 class="name">Aupair</h2>
                    <p class="title"><br></p>
                    <p class="description">Activities: Interchange as child caregiver<br>living with the host family</p>

                    <button class="button">mar 2022 - present(9 months)</button>

                </div>
            </div>
            <div class="box swiper-slide">
                <div class="pic-content">
                    <span class="overlay2"></span>
                    <div class="box-image">
                        <img src="../static/santander.png" alt="cc" class="box-img">
                    </div>
                </div>

                <div class="text-content">
                    <h2 class="name">Technology and Operations Analist - Qualification, Contracts and Warranties</h2>
                    <p class="description">Activities: Validation the segment of <br>Warranties and Registration and Analize of<br> Collateral Contracts</p>

                    <button class="button">mai 2021 - mar 2022(11 months)</button>

                </div>
            </div>
            <div class="box swiper-slide">
                <div class="pic-content">
                    <span class="overlay3"></span>
                    <div class="box-image">
                        <img src="../static/gps.png" alt="question" class="box-img">
                    </div>
                </div>

                <div class="text-content">
                    <h2 class="name">Cleaner</h2>
                    <p class="description">Outsourced's cleaner work in a Santander bank(4 months Sao Paulo Connection and 6 months Farol Santander)</p>

                    <button class="button">jul 2020 - abr 2021(10 months)</button>

                </div>
            </div>
            <div class="box swiper-slide">
                <div class="pic-content">
                    <span class="overlay4"></span>
                    <div class="box-image">
                        <img src="../static/l&p.png" alt="intern" class="box-img">
                    </div>
                </div>

                <div class="text-content">
                    <h2 class="name">Labor Litigation Intern - Tax Legal</h2>
                    <p class="description">Legal Service of lesser complexity writing documents, searching and visit the forums guied and coordenated by lawyers</p>

                    <button class="button">ago 2017 - ago 2018(1 year)</button>

                </div>
            </div>
            <div class="box swiper-slide">
                <div class="pic-content">
                    <span class="overlay5"></span>
                    <div class="box-image">
                        <img src="../static/pwc.png" alt="question" class="box-img">
                    </div>
                </div>

                <div class="text-content">
                    <h2 class="name">Technical in Operations</h2>
                    <p class="description">Mapping and review of data and documents from Labor and Special Projects area</p>

                    <button class="button">jul 2017 - ago 2017(2 years and 10 months)</button>

                </div>
            </div>
            <div class="box swiper-slide">
                <div class="pic-content">
                    <span class="overlay6"></span>
                    <div class="box-image">
                        <img src="../static/uwb.jpg" alt="question" class="box-img">
                    </div>
                </div>

                <div class="text-content">
                    <h2 class="name">Young Focal Point(Logistic)</h2>
                    <p class="description">Organizational Courses' Logistic for maintenance of classes, attendance and food of participants</p>

                    <button class="button">mar 2013 - jul 2015(2 years and 5 months)</button>

                </div>
            </div>
            <div class="box swiper-slide">
                <div class="pic-content">
                    <span class="overlay7"></span>
                    <div class="box-image">
                        <img src="../static/ibratin.png" alt="ibratin" class="box-img">
                    </div>
                </div>

                <div class="text-content">
                    <h2 class="name">Administrative Apprentice(Market Intelligence)</h2>
                    <p class="description">Research competitors, mapping and verification of sales data to create a market strategy</p>

                    <button class="button">fev 2012 - fev 2013(1 year)</button>

                </div>
            </div>
            <div class="box swiper-slide">
                <div class="pic-content">
                    <span class="overlay8"></span>
                    <div class="box-image">
                        <img src="../static/informaljob.jpeg" alt="ibratin" class="box-img">
                    </div>
                </div>

                <div class="text-content">
                    <h2 class="name">Informal Jobs</h2>
                    <p class="description">Shoe's sale(2011), telemarketing(2013), dressmaker(2020), courses' sale(2020), online sale(2020), hawker(2019-2020)<br></p>

                    <button class="button">Short-term works for they are temporary</button>

                </div>
            </div>
        </div>
    </div>
    <div class="swiper-button-next swiper-navBtn"></div>
    <div class="swiper-button-prev swiper-navBtn"></div>
    <div class="swiper-pagination"></div>
</div>
