<div class="content3">
    <h2>Experience</h2>
    <h2>Experience</h2>
</div>

<div class="move-container">
    <div class="move-content">
        <div class="box-wrapper">
            <div class="box">
                <div class="pic-content">
                    <span class="overlay"></span>
                    <div class="box-image">
                        <img src="../static/question.png" alt="question" class="box-img">
                    </div>
                </div>

                <div class="text-content">
                    <h2 class="name">Junior Systems Developer</h2>
                    <p class="title"><br>Open to work</p>
                    <p class="description">Looking for job</p>

                    <button class="button">View More</button>

                </div>
            </div>
        </div>
    </div>
</div>
