<div class="container">
  <div class="col-1">
    <h4>Hello, my name is</h4>
    <h1>Thays <span class="lastname">Ribeiro</span></h1>
  </div>
  <div class="col-2">
      <video autoplay loop plays-inline class="video">
        <source src="../static/Curly hair.mp4" type="video/mp4" />
      </video>
  </div>
  <div class="col-3">
    <h3> I am <spa class="auto-type"> </span> </h3>
      <a
      href=""
      id="btn"> Hire me
      </a>
  </div>
</div>
<div class="social-links">
  <img src="../static/git.png">
  <img src="../static/linkedin.png">
</div>
<script type="text/javascript" src="{{ url_for('static', filename='alert.js') }}"></script>

