<section class="myskills" id="mskills">
    <div class="container3">
        <div class="row2">
            <div class="col-sm-12 col-md-6">
                <div class="mh-skills-inner">
                    <div class="mh-profissional-skills">
                        <h3> Technical skills</h3>
                        <div class="each-skills">
                            <div class="candidatos">
                                <div class="parcial">
                                    <div class="info">
                                        <div class="name3"><img class="js" src="../static/javascript.png"></div>
                                        <div class="percentagem-num">70%</div>
                                    </div>
                                    <div class="progressBar">
                                        <div class="percentagem" style="width: 70%;"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="candidatos">
                                <div class="parcial">
                                    <div class="info">
                                        <div class="name3"><img class="js" src="../static/java.png"></div>
                                        <div class="percentagem-num">65%</div>
                                    </div>
                                    <div class="progressBar">
                                        <div class="percentagem" style="width: 65%;"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="candidatos">
                                <div class="parcial">
                                    <div class="info">
                                        <div class="name3"><img class="js" src="../static/python.png"></div>
                                        <div class="percentagem-num">86%</div>
                                    </div>
                                    <div class="progressBar">
                                        <div class="percentagem" style="width: 86%;"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="candidatos">
                                <div class="parcial">
                                    <div class="info">
                                        <div class="name3"><img class="js" src="../static/html.png"></div>
                                        <div class="percentagem-num">90%</div>
                                    </div>
                                    <div class="progressBar">
                                        <div class="percentagem" style="width: 90%;"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="candidatos">
                                <div class="parcial">
                                    <div class="info">
                                        <div class="name3"><img class="js" src="../static/css.png"></div>
                                        <div class="percentagem-num">90%</div>
                                    </div>
                                    <div class="progressBar">
                                        <div class="percentagem" style="width: 90%;"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="candidatos">
                                <div class="parcial">
                                    <div class="info">
                                        <div class="name3"><img class="js" src="../static/php.png"></div>
                                        <div class="percentagem-num">65%</div>
                                    </div>
                                    <div class="progressBar">
                                        <div class="percentagem" style="width: 65%;"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="candidatos">
                                <div class="parcial">
                                    <div class="info">
                                        <div class="name3"><img class="js" src="../static/node.jpg"></div>
                                        <div class="percentagem-num">70%</div>
                                    </div>
                                    <div class="progressBar">
                                        <div class="percentagem" style="width: 70%;"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="candidatos">
                                <div class="parcial">
                                    <div class="info">
                                        <div class="name3"><img class="js" src="../static/db.jpg"></div>
                                        <div class="percentagem-num">80%</div>
                                    </div>
                                    <div class="progressBar">
                                        <div class="percentagem" style="width: 70%;"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="candidatos">
                                <div class="parcial">
                                    <div class="info">
                                        <div class="name3"><img class="js" src="../static/flask.png"></div>
                                        <div class="percentagem-num">70%</div>
                                    </div>
                                    <div class="progressBar">
                                        <div class="percentagem" style="width: 80%;"></div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="mh-profissional-skills">
                    <h3>Profissional skills</h3>
                    <div class="card5">
                        <div class="boxxx">
                            <div class="percen">
                                <svg>
                                    <circle cx="70" cy="70" r="70"></circle>
                                    <circle cx="70" cy="70" r="70"></circle>
                                </svg>
                                <div class="number">
                                    <h2>90<span>%</span></h2>
                                </div>
                            </div>
                            <h2 class="text">Comunication</h2>
                        </div>
                    </div>
                    <div class="card5">
                        <div class="boxxx">
                            <div class="percen">
                                <svg>
                                    <circle cx="70" cy="70" r="70"></circle>
                                    <circle cx="70" cy="70" r="70"></circle>
                                </svg>
                                <div class="number">
                                    <h2>85<span>%</span></h2>
                                </div>
                            </div>
                            <h2 class="text">Team Work</h2>
                        </div>
                    </div>
                    <div class="card5">
                        <div class="boxxx">
                            <div class="percen">
                                <svg>
                                    <circle cx="70" cy="70" r="70"></circle>
                                    <circle cx="70" cy="70" r="70"></circle>
                                </svg>
                                <div class="number">
                                    <h2>80<span>%</span></h2>
                                </div>
                            </div>
                            <h2 class="text">Agility</h2>
                        </div>
                    </div>
                    <div class="card5">
                        <div class="boxxx">
                            <div class="percen">
                                <svg>
                                    <circle cx="70" cy="70" r="70"></circle>
                                    <circle cx="70" cy="70" r="70"></circle>
                                </svg>
                                <div class="number">
                                    <h2>90<span>%</span></h2>
                                </div>
                            </div>
                            <h2 class="text">Bilingual</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>