@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(//db.onlinewebfonts.com/c/229a57bbeef591e04a1fdfe347c90864?family=Centra+No2);

/* html */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Centra, sans-serif;
    
}

/* body */

body {
    background-image: url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: grayscale;
}

/* header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: 0;
  width: 0;
  top: 0;
  bottom: 0;
  transition: 255ms;
  padding: 14px;
}

.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu .active, .nav-menu .active:focus, .nav-menu li:hover>a {
  color: rgb(249, 242, 242);
  background: #e8e4e3;
}

.nav-menu a i, .nav-menu a:focus i {
  font-size: 30px;
}

.nav-rounded{
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-bottom: 10px;
  border: none;
  display: flex;
  padding: 8px;
  align-items: center;
  overflow: hidden;
  transition: 255ms;
  cursor: pointer;
  
}

.nav-menu{
  margin: 6px;
  padding: 6px;
  display: flex;
  justify-content: center;
  position: fixed;
  cursor: pointer;
  right: 0;
  background-color: transparent;
  border-radius: 40px;
  user-select: none;
}
 
nav ul li a {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color:#fff;
  transition: width 0.5;
}

 
nav ul li a i {
  display: none;
  justify-content: space-around;
  text-decoration: none;
  color:rgb(236, 31, 31);
}

nav ul li a:hover i {
  display: block;
}


nav ul li a:hover {
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu {
  width: 25px;
  cursor: pointer;
  display: none;
}

#name-menu{
  font-family: Centra, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

#nav.toggle{
  position: fixed;
    right: 10px;
    top: 10px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 28px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 0;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
}

@media(max-width:900px){
  nav.open{
    left: 0;
  }
  nav {
    left: -100%;
    background-color: rgba(255, 255, 255, 0.5);
    width: 10px;
  }
  #menu{
    height: 70px;
    width: 100px;
    margin: 20px;
    display: flex;
    justify-content: center;
    position: fixed;
    cursor: pointer;
    right: 0;
    color:#fff;
    background-color: transparent;
    border-radius: 40px;
  }
  
  div.container{
    flex-direction: column;
  } 
  div.col-1{
    display: contents;
    margin-left: 0;
  }
  div.col-2{
    margin-left: 0;
  }
  div.col-3{
    display: contents;
  }

  div.col-1 h1{
    font-size: 65px;
  }
  div.col-1 h4 {
    font-size: 20px;
  }
  div.col-3 h3 {
    font-size: 45px;
    float: right;
  }
}

@media(min-width:900px){
  .nav-rounded:hover {
    width: 190px;
  }
}

@media screen and (min-width: 768px) {
  .site-container{
    max-width: 608px;
  }
  .article-card{
    display: grid;
    grid-template-rows: 220px 1fr;  
  }
}

@media screen and (min-width: 1280px) {
  .site-container{
    max-width: 1156px;
  }
  .article-card{
    display: grid;
    grid-template-rows: 220px 1fr;  
  }
}


/* main */

div.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0;
  height: 91vh;
  align-content: center;
  /* margin: 100px 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  font-family: Centra, sans-serif;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-top: 12%;
  border: 1px solid gray
    */
}

div.col-1 {
  position: relative;
  flex-basis: 33.33%;
  margin-left: 10% ;

}

.col-1 span {
  color: #fa9b92;
}

.col-1 h1{
  color: #fff;
  font-size: 65px;
  margin-bottom: 50px;
}

.col-1 h4 {
  color: #fcfc;
  letter-spacing: 2px;
  margin-bottom: 50px;
  font-size: 20px;
}

div.col-2 {
  position: relative;
  flex-basis: 33.33%;
  display: flex;
  align-items: center;
}

div.col-2 .video {
  position: relative;
  border-radius: 100%;
  width: 40vh;
  margin: 0;
  height: 40vh;
}

div.col-3 {
  position: relative;
  flex-basis: 34.33%;
  margin-right: 8%;  
}

.col-3 h3 {
  color: #fff;
  font-size: 45px;
  margin-top: 80px;
  margin-bottom: -10px;
}

.col-3 #btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff ;
  color: gray;
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(100px);
  font-family: Centra, sans-serif;
  font-weight: bold;
}

a#btn{
  text-decoration: none; 
  display: flex;
  padding: 8px 30px;
  border-radius: 40px;
  background: rgb(109, 106, 106) ;
  color: rgb(253, 253, 253);
  font-size: 1.5em;
  transform: translateY(100px);
  font-family: Centra, sans-serif;
  font-weight: bold;
  margin-top: -80px;
}

/* footer */
.social-links img{
  height: 40px;
  margin: 20px;
  cursor: pointer;

}

.social-links {
  text-align: center;
}

main#page.about{
  background-color: white;
  width: 206vh;
  height: 101vh;
}

main#page.experiences{
  background-color: rgb(198, 198, 198);
  width: 206vh;
  height: 101vh;
}

main#page.skills{
  background-color: blueviolet;
  width: 206vh;
  height: 101vh;
}

main#page.contact{
  background-color: rgba(226, 144, 81, 0.8);
  width: 206vh;
  height: 101vh;
} */

main#page{
  min-height: 101vh;
}


.content1{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 118%;
  columns: 3;
  flex-direction: row;
  color: gray;
}

.content {
  background-color: yellow;
  display: flex;
  width: 100%;
  margin-left: 200px;
}

.content3 {
  background-color: yellow;
  display: flex;
  width: 119%;
  justify-content: center;
}

.content3 h2{
  color: #fff;
  font-size: 5em;
  position: absolute;
  margin: auto;
  margin-top: -89px;
  margin-left: 95px;
  width: 100%;
  align-content: center;
  transform: translate(60vh, 120%);
}

.content3 h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #fff;
}

.content3 h2:nth-child(2) {
  color: #fff;
  animation: animate 4s ease-in-out infinite;
}

.content h2 {
  color: #fff;
  font-size: 5em;
  position: absolute;
  margin: auto;
  margin-top: -89px;
  margin-left: 95px;
  width: 100%;
  align-content: center;
  transform: translate(60vh, 120%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #f46569;
}

.content h2:nth-child(2) {
  color: #f72727;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.about{
  height: 80vh;
  width: 100%;
  background: white;
  display: flex;
}

.about .main1 img{
  width: 580px;
  max-width: 50%;
  height: auto;
  padding: 0 10px;
}

.all-text{
  width: 600px;
  max-width: 100%;
  padding: 0 10px;
}

.main1{
  max-width: 80%;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.all-text p{
  font-size: 18px;
  color: gray;
  line-height: 33px;
  margin-bottom: 37px;
}

a#btn2{
  text-decoration: none;
  color: gray;
  line-height: 33px;
  margin-bottom: 37px;
}

.move-container{
  max-width: 1405px;
  margin-left: 10%;
  margin-top: 12%;
  display: flex;
  padding: 40px 0;
  background: #e8e4e3;
  border-radius: 20px;
}

.pic-content,
.text-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;

}

.move-content{
  padding: 45px 20px;
  overflow: hidden;
  border-radius: 25px;
  margin: 0;
  width: 90%;
}

.pic-content{
  position: relative;
  row-gap: 5px;
  padding: 30px 0;
}

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: url(../static/code.png);
  background-size: cover;
  border-radius: 25px 25px 0 25px;
}

.overlay1{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: url(../static/aupair.png);
  background-size: cover;
  border-radius: 25px 25px 0 25px;
}


.overlay2{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: url(../static/bank.jpg);
  background-size: cover;
  border-radius: 25px 25px 0 25px;
}

.overlay3{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: url(../static/cleaner.png);
  background-size: cover;
  border-radius: 25px 25px 0 25px;
}

.overlay4{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: url(../static/law.jpg);
  background-size: cover;
  border-radius: 25px 25px 0 25px;
}

.overlay5{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: url(../static/Accounting.png);
  background-size: cover;
  border-radius: 25px 25px 0 25px;
}

.overlay6{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: url(../static/logistic.png);
  background-size: cover;
  border-radius: 25px 25px 0 25px;
}

.overlay7{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: url(../static/adm.png);
  background-size: cover;
  border-radius: 25px 25px 0 25px;
}

.overlay8{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: url(../static/informaljob.jpg);
  background-size: cover;
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after{
  content: '';
  height: 40px;
  width: 10px;
  right: 0;
  bottom: -40px;
  background-color: rgb(44, 47, 46);
  position: absolute;
}

.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #fff;
}

.move-content{
  margin: 0 40px;
}

.box{
  width: 320px;
  border-radius: 25px;
  background-color: #fff;
}

.box-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}

.box-image .box-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #f72727;
}

.name{
  font-size: 18px;
  font-weight: 500px;
  margin-bottom: 5px;
  color: #333;
  text-align: center;
}


.description{
  font-size: 16px;
  color: gray;
  text-align: center;
}

.button{
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #f72727;
  border-radius: 6px;
  margin: 14px;
  transition: all 0.3s ease;
}

.button:hover{
  background-color: #f46569;
}

div .swiper-navBtn{
  color: #f72727;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover{
  color: #fff;
}

.swiper-navBtn:before,
.swiper-navBtn:after{
  font-size: 40px;
}

.swiper-button-next{
  right: 0;
}

.swiper-button-prev{
  right: 0;
}

.swiper-pagination-bullet{
  background-color: #f46569;
  opacity: 1;
}

div .swiper-pagination-bullet-active{
  background-color: #dc2828;
}

@media screen and (max-width:768px) {
  .swiper-navBtn{
    display: none;
  }
  .move-content{
    margin: 0 10px;
  }
}
section.experience2{
  display: flex;
  justify-content: center;  
  align-items: center;
  width: 50%;
  min-height: 101vh;
  background-color: #f8f1f1;
}

.experience2::before{
  content: '';
  position: relative;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  
}

.container2{
  position: relative;
  min-width: 1100px;
  min-height: 560px;
  display: flex;
  z-index: 1000;
  border-radius: 20px;
  background: #fff;
  margin-left: 100%;
}

.container2 .contactInfo{
  position: absolute;
  top: 80px;
  width: 390px;
  height: calc(100% - 200px);
  border-radius: 20px;
  background-color: rgba(226, 144, 81, 0.8);
  z-index: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 25px rgb(27, 26, 26);
  margin-left: -150px;
}

.container2 .contactInfo h2{
  color: #fff;
  font-size: 24px;
  font-weight: 1000;
}

.container2 .contactInfo ul.info{
  position: relative;
  margin: 20px 0;
}

.container2 .contactInfo ul.info li{
  position: relative;
  list-style: none;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  align-items: flex-start;
}

.container2 .contactInfo ul.info li span:nth-child(1){
  width: 30px;
  min-width: 30px;
}

.container2 .contactInfo ul.info li span:nth-child(1) img{
  filter: invert(1);
  max-width: 100%;
}

.container2 .contactInfo ul.info li span:nth-child(2){
  color: #fff;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
}

div.contactFrom{
  display: flex;
  flex-direction: column;
  margin-left: 265px;
  margin-top: 100px;
}

.contactFrom h2{
  color: #dc2828;
  font-size: 29px;
  font-weight: 800;
}

.contactFrom .formBox{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 75px;
  padding-top: 10px;
}

.contactFrom .formBox .inputBox{
  position: relative;
  margin-bottom: 35px;  
}

.contactFrom .formBox .inputBox .w50{
  width: 47%;  
}

.contactFrom .formBox .inputBox .w100{
  width: 100%;  
}

.contactFrom .formBox .inputBox input,
.contactFrom .formBox .inputBox textarea{
  width: 100%;  
  resize: none;
  padding: 5px 0;
  font-size: 26px;
  font-weight: 300;
  color: black;
  border: none;
  outline: none;
  border-bottom: 1px solid #777;
}

.contactFrom .formBox .inputBox textarea{
  height: 120px;
}

.contactFrom .formBox .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  pointer-events: none;
  font-size: 18px;
  font-weight: 300;
  transition: 0.3s;
}

.container2 .contactFrom .formBox .inputBox input:focus ~ span,
.container2 .contactFrom .formBox .inputBox input:valid ~ span,
.container2 .contactFrom .formBox .inputBox textarea:focus ~ span,
.container2 .contactFrom .formBox .inputBox textarea:valid ~ span
{
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #dc2828;
  font-weight: 500;
}

.botton{
  margin-left: -100px;
}